<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/static/global.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/static/jquery-1.4.4.min.js")" type="text/javascript"></script>
</head>

<body>
    @RenderBody()
</body>
</html>
